@import "_mixins.scss";

.crew {
  height: 100%;
  width: 100%;
  @include flexible(flex, row, nowrap, center, center);
  animation: fade-in .8s ease;

  &__wrapper {
    @include flexible(flex, column, nowrap, flex-start, flex-start);
    grid-template-columns: 1fr 1fr;
    gap: 9em;
    margin: 7.5em 0 0 0;

    @media (max-width: 980px) {
      gap: 5em;
    }

    @media (max-width: 768px) {
      margin: 2.5em 0 0 0;
      gap: 2.5em;
    }

    @media (max-height: 700px) {
      margin: 3em 0 0 0;
      padding: 0 0 1em 0;
      gap: 2em;
    }

    @media (max-width: 450px) {
      position: relative;
      align-items: center;
      margin: 1em 0 0 0;
    }
  }

  &__subtitle {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    letter-spacing: 0.2953rem;
    text-transform: uppercase;
    color: #ffff;

    span {
      font-weight: 700;
      mix-blend-mode: normal;
      opacity: 0.25;
      margin: 0 1.75em 0 0;
    }

    @media (max-width: 768px) {
      font-size: 1.25em;
    }

    @media (max-width: 450px) {
      font-size: 1em;

      span {
        margin: 0 1em 0 0;
      }
    }
  }

  &__info {
    @include flexible(flex, column, nowrap, center, flex-start);
    gap: 0.8em;

    @media (max-width: 768px) {
      align-items: center;
    }

    @media (max-width: 450px) {
      order: 2;
    }
  }

  &__range {
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;

    @media (max-width: 768px) {
      font-size: 1.8em;
    }

    @media (max-width: 450px) {
      font-size: 1em;
    }
  }

  &__title {
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: 980px) {
      font-size: 2.7em;
    }

    @media (max-width: 768px) {
      font-size: 2.5em;
    }

    @media (max-width: 450px) {
      font-size: 1.5em;
    }
  }

  &__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 2rem;
    color: #d0d6f9;
    width: 40%;

    @media (max-width: 980px) {
      width: 52%;
      font-size: 1em;
    }

    @media (max-width: 768px) {
      width: 67%;
      text-align: center;
    }

    @media (max-width: 450px) {
      width: 90%;
      font-size: 0.9375em;
    }
  }

  &__photo {
    position: absolute;
    bottom: 0;
    left: 55%;

    @media (max-width: 768px) {
      left: 50%;
      transform: translateX(-43.5%);
    }

    @media (max-height: 925px) {
      width: 40%;
    }

    @media (max-width: 450px) {
      top: 8.8%;
    }
  }

  &__img {
    object-fit: cover;

    @media (max-width: 450px) {
      min-width: 177.12px;
    }
  }

  &__nav {
    @include flexible(flex, row, nowrap, flex-start, center);

    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }

    @media (max-width: 450px) {
      order: 1;
      border-top: 1px solid #383b4b;
      padding: 2.5em 0 0 0;
      margin: 15em 0 0 0;
    }
  }

  &__ul {
    @include flexible(flex, row, nowrap, center, center);
    gap: 1.5em;
  }

  &__li {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0.17;
    z-index: 4;
    transition: all 0.3s ease;

    &:hover, &:focus {
      opacity: 1;
    }

    @media (max-width: 450px) {
      width: 12px;
      height: 12px;
    }
  }
}
