<header class="header wrapper__header ">
  <div class="header__wrapper ">
    <div class="header__logo">
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48">
        <g fill="none" fill-rule="evenodd">
          <circle cx="24" cy="24" r="24" fill="#FFF" />
          <path fill="#0B0D17"
            d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z" />
        </g>
      </svg>
    </div>
    <span class="header__line"></span>
    <nav class="header__nav" [ngClass]="{'active': active}">
      <ul class="header__ul">
        <li class="header__li" (click)=" navigateToHome()"><span class="header__span">00</span>Home</li>
        <li class="header__li" (click)="destination()"><span class="header__span">01</span>Destination</li>
        <li class="header__li" (click)="crew()"><span class="header__span">02</span>Crew</li>
        <li class="header__li" (click)="technology()"><span class="header__span">03</span>Technology</li>
      </ul>
    </nav>
    <div class="header__burguer" (click)="change()" [ngClass]="{'active': active}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
