@import "_mixins.scss";

.destination {
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: fade-in 0.5s ease;
  @include flexible(flex, row, nowrap, center, center);

  &__wrapper {
    @include flexible(flex, column, nowrap, center, flex-start);
    gap: 4.125em;
    margin: 7.5em 0 0 0;

    @media (max-width: 768px) {
      position: relative;
      gap: 20em;
      margin: 2em 0 0 0;
    }

    @media (max-height: 700px) {
      margin: 3em 0 0 0;
      padding: 0 0 1em 0;
      gap: 1em;
    }

    @media (max-width: 450px) {
      align-items: center;
      gap: 14em;
      margin: 1em 0 0 0;
      padding: 0 0 1em 0;
    }
  }

  &__subtitle {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    letter-spacing: 0.2953rem;
    text-transform: uppercase;
    color: #ffff;

    span {
      font-weight: 700;
      mix-blend-mode: normal;
      opacity: 0.25;
      margin: 0 1.75em 0 0;
    }

    @media (max-width: 768px) {
      font-size: 1.25em;
    }

    @media (max-width: 450px) {
      font-size: 1em;

      span {
        margin: 0 1em 0 0;
      }
    }
  }

  &__planets {
    @include flexible(flex, column, nowrap, center, flex-end);

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__description {
    @include flexible(flex, row, nowrap, space-between, flex-end);
    gap: 3.15em;

    @media (max-width: 450px) {
      gap: 0;
    }
  }

  &__nav {
    @include flexible(flex, row, nowrap, flex-start, center);
    margin: 0 16.5% 0.5em 0;

    @media (max-width: 768px) {
      margin: 8% 0 1.2em 0;
    }
  }

  &__ul {
    @include flexible(flex, row, nowrap, flex-start, center);
    gap: 2.5em;

    @media (max-width: 450px) {
      gap: 1.6875em;
    }
  }

  &__li {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.1688rem;
    color: #ffffff;
    padding: 0 0 1em 0;
    cursor: pointer;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transform-origin: right;
      background-color: hsla(0, 0%, 100%,0.5);
      transition: transform 0.4s ease;
    }

    &:hover::before,
    &:focus::before {
      transform: scaleX(1);
      transform-origin: left;
    }

    &.active {
      &::before {
        background-color: hsl(0, 0%, 100%);
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    @media (max-width: 450px) {
      font-size: 0.875em;
    }
  }
}
