@import "_reset.scss";
@import "_mixins.scss";
@import "destination.scss";
@import "crew.scss";
@import "tech.scss";

@font-face {
  font-family: 'Bellefair';
  src: url('./assets/fonts/Bellefair-Regular.woff2') format('woff2'),
      url('./assets/fonts/Bellefair-Regular.woff') format('woff'),
      url('./assets/fonts/Bellefair-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/BarlowCondensed-Regular.woff2') format('woff2'),
      url('./assets/fonts/BarlowCondensed-Regular.woff') format('woff'),
      url('./assets/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./assets/fonts/Barlow-Regular.woff2') format('woff2'),
      url('./assets/fonts/Barlow-Regular.woff') format('woff'),
      url('./assets/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;

  // @media (max-width:450px) {
  //   overflow: hidden;
  // }
}

body.fondoInicio {
  background-image: url("./assets/shared/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center center;
  animation: fadeIn;
  animation-duration: 0.5s;

  @media (max-width: 768px) {
    background-image: url("./assets/shared/home/background-home-tablet.jpg");
  }

  @media (max-width: 450px) {
    background-image: url("./assets/shared/home/background-home-mobile.jpg");
  }
}

body.fondoDestination {
  background-image: url("./assets/shared/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center center;
  animation: fadeIn;
  animation-duration: 0.5s;

  @media (max-width: 768px) {
    background-image: url("./assets/shared/destination/background-destination-tablet.jpg");
  }
  @media (max-width: 450px) {
    background-image: url("./assets/shared/destination/background-destination-mobile.jpg");
  }
}

body.fondoCrew {
  background-image: url("./assets/shared/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-position: center center;
  animation: fadeIn;
  animation-duration: 0.5s;

  @media (max-width: 768px) {
    background-image: url("./assets/shared/crew/background-crew-tablet.jpg");
  }
  @media (max-width: 450px) {
    background-image: url("./assets/shared/crew/background-crew-mobile.jpg");
  }
}

body.fondoTech {
  background-image: url("./assets/shared/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center center;
  animation: fadeIn;
  animation-duration: 0.5s;

  @media (max-width: 768px) {
    background-image: url("./assets/shared/technology/background-technology-tablet.jpg");
  }
  @media (max-width: 450px) {
    background-image: url("./assets/shared/technology/background-technology-mobile.jpg");
  }
}

.wrapper__header {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 70em;
  padding: 0 0 0 0.4em;
  margin: 0 auto;

  @media (max-width: 1350px) {
    width: 90%;
    max-width: 65em;
    padding: 0;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
